.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div, button {
  margin: 10px;
}

.App {
display: flex;
flex-direction: column;

}

.header{
  display: flex;
}

.discBand {
  display: flex;
  flex-direction: row;
  width: 100vw;
  border-radius: 1px

}

.disc{
  display: flex;
  height: 16vw;
  width: 14vw;
  flex-direction: column;
  align-items: center
}

.meatAndPotatoes {
  display: flex;
}

.fillings {
  display:flex;
  flex-direction: column;
  width: 33vw
}

.footer{
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
